header{
  display: block;
  text-align: center;
  min-width: 350px;
}
body{
  min-width: 350px;
  background-color:#9fcfcf;
}
ul li a {
  list-style-type: none;
  display: block;
  font-size: large;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}
ul li{
  list-style-type: none;
  display: block;
  padding: 5px;
}
a:link{
    color:#800080;
  }
a:visited{  color:#800080;
}
.title{
  display: block;
  text-align: center;
  border-style: solid;
}
/*for large screens*/
@media screen and (min-width: 1000px){
nav{
  position: absolute;
  left: 25%;
  width: auto;
  }
#logo{
  position: absolute;
  right:25%;
}
#os{
  position: absolute;
  top: 500px;
}
#os_linux{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#os_windows{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}
#music{
position: absolute;
top: 800px;
}
#rhythmbox{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#mediaplayer{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}

#wordprocessing{
position: absolute;
top: auto;
}
#libreoffice{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#mword{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}
#internetbrowser{
position: absolute;
top: auto;
}
#firefox{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#w3m{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#edge{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}
#chrome{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}
#antivirus{
position: absolute;
top: auto;
}
#linuxav{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#windowsav{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}

footer{
  display: inline-block;
  text-align: center;
  font-size: x-small;
  position: absolute;
  left: 25%;
  bottom: 5px;
  width: 50%;
  border-style: ridge;
}
}
/*for medium screens
@media screen and (min-width: 700px) and (max-width: 1000px){
nav{
  position: absolute;
  left: 15%;
  width: auto;
  }
#logo{
  position: absolute;
  right:15%;
  height: 250px;
  width: auto;
}
#os{
  position: absolute;
  top: 500px;
}
#os_title{
  display: block;
  text-align: center;
  border-style: solid;
}
#os_linux{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#os_windows{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}
footer{
  display: inline-block;
  text-align: center;
  font-size: x-small;
  position: absolute;
  left: 25%;
  top: 650px;
  width: 50%;
  border-style: ridge;
}
}
/*for small screens
@media screen and (max-width: 700px){
nav{
  position: relative;
  width: auto;
  }
#logo{
  position: relative;
  height: 250px;
  width: auto;
}
#os{
  position: absolute;
  top: 600px;
}
#os_title{
  display: block;
  text-align: center;
  border-style: solid;
}
#os_linux{
  display: block;
  text-align: center;
  border-style: dashed;
  float: right;
  width: 48%;
}
#os_windows{
  display: block;
  text-align: center;
  border-style: dashed;
  float: left;
  width: 48%;
}
footer{
  display: inline-block;
  text-align: center;
  font-size: x-small;
  position: absolute;
  left: 25%;
  top: 900px;
  width: 50%;
  border-style: ridge;
}
}
